.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


a:link, a:visited {
  /* background-color: gray; */
  color: gray;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
